
.container1
{
    display:flex;
    align-items: center;    
    background-color: lavender;
    margin-top: 100px; 
    flex-direction: column;
    border:5px solid pink;
    width:550;
    margin-left:600;
    height:600;
}
.box
{
    width:500px;
    height:500px;
}
.box p
{
    text-align:center;
    font-weight:bold;
}

.buttons
{
    padding: 15px;
    gap: 30px;             
}
button
{
    width: 130px;
    padding: 7px;
    font-weight: bold;
    margin-top:100px;
}

.footer 
{
    position:fixed;
    background-color: aquamarine;
    text-align: center;
    color:black;
    width:100%;
    bottom: 0%;
    left: 0%;
}

